.section{
	text-align: center;
}

.user-msg {
    max-width: 800px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(172, 172, 172);
    padding: 12px;
    float: right;
    display: block;
    margin-bottom:5px;
}
.assistant-msg {
    max-width: 800px;
    background-color: rgb(77,77,77);
    color: white;
    border-radius: 8px;
    padding: 12px; 
    float: left;
    display: block;
    margin-bottom:5px;
}
.msgLine {
    display: block;
    clear: both;
}

/* 隐藏滚动条箭头按钮 */
::-webkit-scrollbar-button {
    display: none;
}

/* 隐藏滚动条底色 */
::-webkit-scrollbar-track {
    background: transparent;
}

/* 定义滑块样式 */
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5); /* 滑块颜色 */
    border-radius: 10px; /* 滑块圆角 */
    border: 0px solid transparent; /* 滚动条边框颜色和大小 */
}

/* 这个是滚动条整体的样式，可以控制滚动条粗细 */
::-webkit-scrollbar{
    width: 10px;
}